/* =======  Tablet & Desktop Styles +768px =================== */

@media only screen and (min-width: 768px) {
  nav {
      background-color: #4056a1;
      background-image: none;
  }


  div.lgDisplay {
    display: flex;
    width: 100%;
    flex-direction: row;
    /* justify-content: center; */
    
  }
  .lgDisplay > :first-child {
    margin: 3%;
    width: 40%;
  }
  #tweets-container article {
    flex-wrap: nowrap;
  }

  main.container {
    width: 90%;
  }
}

/* =======  Tablet & Desktop Styles +1024 =================== */
@media only screen and (min-width: 1024px) {

#tweets-container {
width: 99%;
}
}